$primary-green: #58af9b;

$primary-green-dark: #4e9786;
$primary-green-rg: rgba(88, 175, 155, 1);
$primary-overlay: rgba(231, 238, 238, 0.788);
$light: #f8f9fa;

body {
  // font-family: "Open Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  // background-color: $primary-overlay;
  // background: url("../../images/main_bg_light.jpg");
  // background-size: cover;
}
//particles background
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $light;
}
.main-overlay {
  background: url("../../images/main_bg_overlay.png");
  background-size: cover;
}

.navbar {
  .navbar-nav {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: $primary-green-dark;
    font-size: 16px;
    float: left;
  }
}

.list-group li {
  list-style: none;
}

// ######### Animation #########
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.fade-exit-done {
  opacity: 0;
}

//flipOutX
@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

//########## overlay #########
.overlay {
  position: absolute;
  background: url("../../images/main_bg_light.jpg");
  background-size: 100%;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  // background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.overlay-register-info {
  // position: absolute;
  background: url("../../images/main_bg.png");
  background-size: cover;
  // background-size: 2800px;
  background-position-x: -1300px;
  // background-position-y: 100px;
  background-repeat: no-repeat;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: rgba(45, 134, 130, 0.7);
  z-index: 10000;
  overflow: hidden;
}

//headline
.headline {
  color: $primary-green-dark;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

//--- register-info ---
.register-info {
  margin: 230px auto 200px;
  h2 {
    font-size: 45px;
    font-weight: 900;
  }
  p {
    font-size: 18px;
  }
  //Button
  .btn-register {
    color: white;
    // background-color: $primary-green;
    padding: 15px 80px;
    border: 2px solid white;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      // background-color: white;
      // color: $primary-green;
      transform: scale(1.05);
      color: white;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

//--- login-form ---
.login-form {
  margin: 130px auto 100px;
  h1 {
    font-size: 30pt;
    font-weight: 800;
  }

  .form-control {
    background-color: #e9ecef;
    padding: 25px 5px;
    border: white;
    // box-shadow: 0px 0px 10px #cecbcb;
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(155, 98, 98);
      opacity: 1; /* Firefox */
    }
  }
  label {
    color: $primary-green-dark;
  }

  //Button
  .btn-login {
    color: white;
    background-color: $primary-green;
    padding: 15px 80px;
    // border: 2px solid white;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 10px #cecbcb;

    &:hover {
      // background-color: white;
      // color: $primary-green;
      transform: scale(1.05);
      color: white;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

//--- Register-form ---
.register-form {
  margin: 50px auto 100px;
  h1 {
    font-size: 30pt;
    font-weight: 800;
  }

  .form-control {
    background-color: #e9ecef;
    padding: 25px 5px;
    border: white;
    // box-shadow: 0px 0px 10px #cecbcb;
    ::-webkit-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(155, 98, 98);
      opacity: 1; /* Firefox */
    }
  }
  label {
    color: $primary-green-dark;
  }

  //Button
  .btn-register {
    color: white;
    background-color: $primary-green;
    padding: 15px 80px;
    // border: 2px solid white;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 10px #cecbcb;

    &:hover {
      // background-color: white;
      // color: $primary-green;
      transform: scale(1.05);
      color: white;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

//####### Contacts #######
.contacts-bg {
  background: url("../../images/system-3699542_1280.jpg");
  background-size: cover;
}
.filter {
  border-radius: 100px;
  border-color: #4e9786;
}
.contacts {
  overflow: scroll;
  height: 610px;
}
.welcome {
  margin: 250px auto 300px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
//Card
.card {
  border-radius: 20px;
  // background-color: $primary-green;
  background-color: rgba(88, 175, 155, 0.9);
  color: $light;
  border: none;
  opacity: 10%;
  // background: url("../../images/system-3699542_1280.jpg");
  background-size: cover;
  box-shadow: 2px 2px 10px #888888;
  min-height: 194px;
  h3 {
    font-weight: 600;
    color: #f8ebd6;
  }
  .btn-edit {
    color: white;
    background-color: #486775;
    // padding: 10px 80px;
    // border: 2px solid white;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 2px 5px #486775;

    &:hover {
      // background-color: white;
      // color: $primary-green;
      transform: scale(1.05);
      color: white;
    }

    &:active {
      transform: scale(0.95);
    }
  }
  .btn-delete {
    color: white;
    background-color: #e76c6e;

    // padding: 10px 80px;
    // border: 2px solid white;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 2px 5px #c94548;

    &:hover {
      // background-color: white;
      // color: $primary-green;
      transform: scale(1.05);
      color: white;
    }

    &:active {
      transform: scale(0.95);
    }
  }
  .badge-professional {
    background-color: #7677c2;
    border-radius: 100px;
    position: relative;
    // left: 30px;
    // padding: 6px;
  }
  .badge-personal {
    background-color: #4b87aa;
    border-radius: 100px;
    position: relative;
    // left: 30px;
    // padding: 6px;
  }
}
.card-overlay {
  background-image: url("../../images/main_bg.png");
  background-size: cover;
}
//Contact from
.contact-form {
  h2 {
    font-size: 30pt;
    font-weight: 700;
  }

  .form-control {
    background-color: #e9ecef;
    padding: 25px 5px;
    border: white;
    // box-shadow: 0px 0px 10px #cecbcb;
    ::-webkit-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(155, 98, 98);
      opacity: 1; /* Firefox */
    }
  }
  //form check
  h6 {
    color: $primary-green;
    font-weight: 700;
  }
  .form-check {
    color: $primary-green;
  }
  //button
  .btn-contacts {
    color: white;
    background-color: $primary-green;
    padding: 10px 80px;
    // border: 2px solid white;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 10px #cecbcb;

    &:hover {
      // background-color: white;
      // color: $primary-green;
      transform: scale(1.05);
      color: white;
    }

    &:active {
      transform: scale(0.95);
    }
  }
  .btn-clear {
    color: $primary-green;
    border-color: $primary-green;
    background-color: $light;
    padding: 10px 80px;
    // border: 2px solid white;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 10px #cecbcb;

    &:hover {
      // background-color: white;
      // color: $primary-green;
      transform: scale(1.05);
      color: $primary-green;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
