body {
  font-family: "Montserrat", sans-serif;
  background: url("../../images/main_bg_light.jpg");
  background-size: cover; }

.main-overlay {
  background: url("../../images/main_bg_overlay.png");
  background-size: cover; }

.navbar .navbar-nav {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #4e9786;
  font-size: 16px;
  float: left; }

.list-group li {
  list-style: none; }

.item-enter {
  opacity: 0; }

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.item-exit {
  opacity: 1; }

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in; }

.fade-exit-done {
  opacity: 0; }

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
.flipOutX {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

.overlay {
  position: absolute;
  background: url("../../images/main_bg_light.jpg");
  background-size: 100%;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  z-index: 1000; }

.overlay-register-info {
  background: url("../../images/main_bg.png");
  background-size: cover;
  background-position-x: -1300px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow: hidden; }

.headline {
  color: #4e9786;
  font-size: 20px;
  font-family: "Open Sans", sans-serif; }

.register-info {
  margin: 230px auto 200px; }
  .register-info h2 {
    font-size: 45px;
    font-weight: 900; }
  .register-info p {
    font-size: 18px; }
  .register-info .btn-register {
    color: white;
    padding: 15px 80px;
    border: 2px solid white;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700; }
    .register-info .btn-register:hover {
      transform: scale(1.05);
      color: white; }
    .register-info .btn-register:active {
      transform: scale(0.95); }

.login-form {
  margin: 130px auto 100px; }
  .login-form h1 {
    font-size: 30pt;
    font-weight: 800; }
  .login-form .form-control {
    background-color: #e9ecef;
    padding: 25px 5px;
    border: white; }
    .login-form .form-control ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #9b6262;
      opacity: 1;
      /* Firefox */ }
  .login-form label {
    color: #4e9786; }
  .login-form .btn-login {
    color: white;
    background-color: #58af9b;
    padding: 15px 80px;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 10px #cecbcb; }
    .login-form .btn-login:hover {
      transform: scale(1.05);
      color: white; }
    .login-form .btn-login:active {
      transform: scale(0.95); }

.register-form {
  margin: 50px auto 100px; }
  .register-form h1 {
    font-size: 30pt;
    font-weight: 800; }
  .register-form .form-control {
    background-color: #e9ecef;
    padding: 25px 5px;
    border: white; }
    .register-form .form-control ::-webkit-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #9b6262;
      opacity: 1;
      /* Firefox */ }
  .register-form label {
    color: #4e9786; }
  .register-form .btn-register {
    color: white;
    background-color: #58af9b;
    padding: 15px 80px;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 10px #cecbcb; }
    .register-form .btn-register:hover {
      transform: scale(1.05);
      color: white; }
    .register-form .btn-register:active {
      transform: scale(0.95); }

.contacts-bg {
  background: url("../../images/system-3699542_1280.jpg");
  background-size: cover; }

.filter {
  border-radius: 100px;
  border-color: #4e9786; }

.contacts {
  overflow: scroll;
  height: 610px; }

.welcome {
  margin: 250px auto 300px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px; }

.card {
  border-radius: 20px;
  background-color: rgba(88, 175, 155, 0.9);
  color: #f8f9fa;
  border: none;
  opacity: 10%;
  background-size: cover;
  box-shadow: 2px 2px 10px #888888;
  min-height: 194px; }
  .card h3 {
    font-weight: 600;
    color: #f8ebd6; }
  .card .btn-edit {
    color: white;
    background-color: #486775;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 2px 5px #486775; }
    .card .btn-edit:hover {
      transform: scale(1.05);
      color: white; }
    .card .btn-edit:active {
      transform: scale(0.95); }
  .card .btn-delete {
    color: white;
    background-color: #e76c6e;
    border-radius: 100px;
    transition: all 0.1s ease-out;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 2px 5px #c94548; }
    .card .btn-delete:hover {
      transform: scale(1.05);
      color: white; }
    .card .btn-delete:active {
      transform: scale(0.95); }
  .card .badge-professional {
    background-color: #7677c2;
    border-radius: 100px;
    position: relative; }
  .card .badge-personal {
    background-color: #4b87aa;
    border-radius: 100px;
    position: relative; }

.card-overlay {
  background-image: url("../../images/main_bg.png");
  background-size: cover; }

.contact-form h2 {
  font-size: 30pt;
  font-weight: 700; }
.contact-form .form-control {
  background-color: #e9ecef;
  padding: 25px 5px;
  border: white; }
  .contact-form .form-control ::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9b6262;
    opacity: 1;
    /* Firefox */ }
.contact-form h6 {
  color: #58af9b;
  font-weight: 700; }
.contact-form .form-check {
  color: #58af9b; }
.contact-form .btn-contacts {
  color: white;
  background-color: #58af9b;
  padding: 10px 80px;
  border-radius: 100px;
  transition: all 0.1s ease-out;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 0px 10px #cecbcb; }
  .contact-form .btn-contacts:hover {
    transform: scale(1.05);
    color: white; }
  .contact-form .btn-contacts:active {
    transform: scale(0.95); }
.contact-form .btn-clear {
  color: #58af9b;
  border-color: #58af9b;
  background-color: #f8f9fa;
  padding: 10px 80px;
  border-radius: 100px;
  transition: all 0.1s ease-out;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 0px 10px #cecbcb; }
  .contact-form .btn-clear:hover {
    transform: scale(1.05);
    color: #58af9b; }
  .contact-form .btn-clear:active {
    transform: scale(0.95); }

/*# sourceMappingURL=style.css.map */
